<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="storm.magicspace"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".base.MagicApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.FeedBackActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.GameActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.mine.MyCollectionActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.mine.MyWorksActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.album.CacheingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.album.ClassifyRecommendActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.album.WebActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.album.GuessYouLikeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.album.HeatActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.EggGamePreviewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.EggGameInfoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.FreshHelpActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.ForgetPwdActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.GameEditDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.album.AlbumInfoActivity"
            android:screenOrientation="portrait"/>
        <!--分享界面 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <data android:scheme="tencent100371282"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--微信分享回调 -->
        <activity
            android:name="cn.sharesdk.demo.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity android:name="com.umeng.fb.ConversationActivity"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57760bebe0f55afeca000d30"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="mojingugc0001"/>

        <!--<meta-data-->
        <!--android:name="UMENG_APPKEY"-->
        <!--android:value="57760bebe0f55afeca000d30" />-->
        <!--<meta-data-->
        <!--android:name="Channel ID"-->
        <!--android:value="mojingugc0001" />-->

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <!--分享权限 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--友盟-->

</manifest>
